name: CI

on:
  push:
    branches:
      - main  # Or the branch you want this workflow to run on

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Say Hello
        run: echo "Hello, World!"
